ul {
  	overflow: hidden;
	font-size: 16px;
	list-style-type: none;
	margin: 0;
    	padding: 0;
	background-color: #D5c7c7;
}

li {
  	float: right;
  	height: 36px;
  	line-height: 36px;
  	padding: 0 20px;
  	font-size: 12px;
}

body {
	font-color: black;
	font-family: Arial, sans-serif;
	text-align: center;
    background-image: url(http://cache4.asset-cache.net/xd/484714717.jpg?v=1&c=IWSAsset&k=2&d=62CA815BFB1CE480D08D2AF25FFE15D573E7DAAD5CA538699A4667FD493EE5929BBB707060165C78);
    background-repeat: no-repeat;
    background-size: cover;
}

#slogan {
	font-style: italic;
}

h1 {
	font-family: Impact, 'Copperplate Gothic Light', fantasy;
	font-size: 82px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	font-color: #D4A190;
}

a {
	font-color: black;
	text-decoration: none;
}

#contact {
	font-size: 10px;
}